/* 





Global Styles





*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #9ECFD4;
  font-family: 'Poppins', sans-serif;
  height: 2000px;
}

.container {
  background-color: #9ECFD4;
  max-width: 1800px;
  width: 95%;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
.destinations-grid-container {
  min-width: none;
  width: 100%;
  left:0;
  
  background-color: #9ECFD4;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

/* 
.




Header/Navigation





*/

header {
  background-color: #70B2B2;
  padding: 1.5rem;
  position: sticky;
  top: 0;
  margin-top: 0;
  z-index: 20;
  height: 120px;
}

.main-nav {
  background-color: #70B2B2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  height: 90px;
  width: 90px;
}

.mobile-logo {
  display: none;
}

.nav-house {
  width: 55px;
}

.trip-planner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #016B61;
  border-radius: 35px;
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
  font-size: 14px;
  font-weight: 500;
  padding: 6px 10px;
  gap: 8px;
}

.anywhere-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.pipe-container {
  margin: 0 1rem;
}

.pipe {
  width: 1px;
  height: 25px;
  background-color: #333;
  opacity: .2;
}

.add-guests-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.search-icon-container {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #ff385c;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 6px;
}

/* New: simplified search input styling */
.search-input {
  background: #70B2B2; /* palette */
  border: 1px solid #9ECFD4;
  border-radius: 30px;
  padding: 10px 14px;
  width: clamp(220px, 45vw, 560px);
  outline: none;
  font-size: 14px;
  color: #1F2937; /* dark text for contrast */
}

.search-input::placeholder {
  color: rgba(31, 41, 55, 0.8);
}

.search-input:focus {
  border-color: #70B2B2; /* secondary */
  box-shadow: 0 0 0 2px rgba(158, 207, 212, 0.35);
}

.nav-menu-links {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

#host-link {
  border-radius: 35px;
  height: 40px;
  width: 130px;
  transition: background-color .1s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
}

#host-link:hover {
  background-color: #f2f2f2;
}

.nav-icon-container {
  width: 40px;
  height: 40px;
  background-color: #016B61;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color .1s ease-in;
}

.nav-icon-container:hover {
  background-color: #ebebeb;
}



/* 





Mobile Sticky Menu





*/

.mobile-sticky-menu-container {
  background-color: #9ECFD4;
  color: #6a6a6a;
  padding: .5rem 0rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  display: none;
}

.mobile-sticky-menu-search {
  background-color: #fff;
  box-shadow: 0px 0px 53px -21px rgba(51, 51, 51, 0.75);
  padding: 1.2rem;
  width: 90%;
  border-radius: 35px;
  margin: .5rem auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
  font-size: 14px;
  column-gap: 10px;
  font-weight: 500;
}

.mobile-nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4rem;
}

.mobile-nav-link {
  font-size: 12px;
  color: #6a6a6a;
}

.active {
  font-weight: 600;
  text-decoration: underline;
  color: #000;
}

/* 





Mobile Menu Fixed (Dynamic with JS)





*/

.mobile-menu-fixed {
  position: fixed;
  inset: 0;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 105px 16px 16px;
  z-index: 1000;
  background: transparent;
  pointer-events: none;
  display: none;
}

.mobile-menu-fixed.is-open {
  display: flex;
  pointer-events: auto;
}

.mobile-menu-container {
  box-shadow: 0px 0px 53px -21px rgba(51, 51, 51, 0.75);
  width: 290px;
  border-radius: 8px;
  z-index: 2;
  position: relative;
  background-color: #9ECFD4;
  line-height: 1.5;
  padding: .5rem 0rem;
}


.menu-flexbox {
  display: flex;
  align-items: center;
}

.circle {
  border: 2px solid #333;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu-li {
  padding: 10px 0px;
  transition: all .1s ease-in;
}

.mobile-menu-li:hover {
  background-color: #f7f7f7;
  width: 100%;
}

.mobile-menu-link {
  font-size: 14px;
  padding: 0rem .7rem;
}

.bold-txt {
  font-weight: 500;
}

.mobile-menu-img {
  width: 50px;
}


.divider {
  background-color: #ebebeb;
  width: 90%;
  height: 1px;
  margin: 8px auto;
}

/* 





Mobile Bottom Menu





*/

.mobile-bottom-menu-container {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 40;
  background-color: #fff;
  border-top: 1px solid #ebebeb;
  padding: .5rem 0rem;
}

.mobile-bottom-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  text-align: center;
  max-width: 640px;
}

.mobile-bottom-menu-link {
  color: #6a6a6a;
}

.active-bottom,
.active-bottom i {
  color: #ff385c;
}

/* 




Desintation Cards




*/

.destinations {
  margin: 4rem 0rem;
}

.destinations-row {
  margin: 2rem 0rem;
}

.destinations-grid-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 1rem;
}

.destination-card {
  min-width: 0;
}

.destination-img-container {
  position: relative;
  overflow: hidden;
}

.destination-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.guest-favorite {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 35px;
  font-size: 11px;
  font-weight: 600;
  opacity: .8;
  z-index: 2;
}

.destination-img-container .fa-heart {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 18px;
  font-weight: 600;
  opacity: .6;
  z-index: 2;
  padding: 6px;
}

.desintation-text-container {
  margin-top: 10px;
  padding-left: 10px;
}

.destination-text-header {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 3px;
}

.desination-p {
  font-size: 12px;
  color: #6a6a6a;
}

/* 





Footer




*/

footer {
  padding: 3rem 0rem;
  background-color: #9ECFD4;
}

.inspiration-header {
  font-weight: 500;
  font-size: 22px;
  position: relative;
}

.dynamic-headers-container {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  margin-top: 1.5rem;
  position: relative;
}

.dynamic-header {
  color: #6a6a6a;
  font-weight: 500;
  font-size: 14px;
  position: relative;
}

.active-footer {
  color: black;
}

.footer-divider {
  background-color: #ddd;
  width: 100%;
  height: 1px;
  margin: 1rem 0rem 2rem 0rem;
}

.dynamic-header.active-footer::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 60px;
  height: 2px;
  background-color: #000;
}

.dynamic-menus-container {
  display: flex;
  align-items: center;
  column-gap: 10rem;
}

.dynamic-menu-li {
  padding: 1rem 0rem;
}

.bold-text {
  font-weight: 600;
  color: #000;
}

.dynamic-menu-link {
  color: #6a6a6a;
  font-size: 13px;
  transition: color .1s ease-in;
}

.dynamic-menu-link:hover {
  color: #000;
}

.footer-menus-container {
  display: flex;
  align-items: center;
  column-gap: 23rem;
  margin-top: 5rem;
}

.footer-menu {
  height: 575px;
}

.footer-menu-li {
  padding: .8rem 0rem;
  font-size: 14px;

}

.footer-menu-link {
  font-size: 14px;
  transition: all .1s ease-in;
  font-weight: 300x;
}

.footer-menu-link:hover {
  text-decoration: underline;
}

.copyright-socials-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.copyright-menu {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.socials-menu {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

/* 





Media Queries





*/

@media screen and (max-width: 1368px) {

  .container {
    width: 95%;
  }

  .destinations-grid-container {
    grid-template-columns: repeat(6, 1fr);

  }

  .large-tablet {
    display: none;
  }

  .dynamic-menus-container {
    column-gap: 5rem;
  }

  .footer-menus-container {
    column-gap: 14rem;

  }

}

@media screen and (max-width: 1181px) {
  .medium-tablet {
    display: none;
  }

  .destinations-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .dynamic-menus-container {
    column-gap: 3rem;
  }

  .footer-menus-container {
    column-gap: 12rem;

  }

}

@media screen and (max-width: 1023px) {
  .nav-logo {
    display: none;
  }

  .mobile-logo {
    display: block;
    width: 75px;
  }

  #host-link {
    display: none;
  }

  .dynamic-menus-container {
    flex-wrap: wrap;
  }

  .footer-menus-container {
    column-gap: 9rem;

  }

  .copyright-socials-container {
    flex-direction: column;
    row-gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .hide {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  header {
    display: none;
  }

  .mobile-sticky-menu-container {
    display: block;
  }

  .mobile-bottom-menu-container {
    display: block;
  }

  .destinations {
    margin-top: 8rem;
  }

  .destinations-grid-container {
    grid-template-columns: repeat(2, 1fr);

  }

  .mobile-phone {
    display: none;
  }

  .mobile-hide {
    display: none;
  }

  .dynamic-menus-container {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3rem;
  }

  .footer-menus-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .copyright-socials-container {
    align-items: flex-start;
    row-gap: 1.5rem;
  }

  .copyright-menu {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.5rem;
  }

  .socials-menu {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.5rem;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 425px) {
  .destinations-heading {
    font-size: 17px;
  }

  .xs-hide {
    display: none;
  }

  .footer-menu {
    height: auto;
  }

}

@media screen and (max-width: 360px) {
  .guest-favorite {
    left: 7px;
  }

  .destination-img-container .fa-heart {
    right: 3px;
  }

  .destination-text-header {
    font-size: 10px;
  }

  .desination-p {
    font-size: 9px;
  }
}